ion-content {
  --background: url('/assets/img/fondopantalla3.jpg') no-repeat center center / cover;
}

.register-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
  overflow-y: auto;
  max-height: 90vh;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

ion-item {
  --background: transparent;
  --border-color: #ddd;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 15px;
}

ion-label {
  font-size: 16px;
}

ion-input, ion-select {
  font-size: 16px;
}

ion-button {
  margin-top: 20px;
}

ion-text {
  display: block;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 14px;
}

ion-button[disabled] {
  opacity: 0.5;
}

@media (max-width: 576px) {
  .register-container {
    padding: 15px;
    margin: 10px auto;
  }

  h1 {
    font-size: 20px;
  }

  ion-label, ion-input, ion-select {
    font-size: 14px;
  }
}
